.container1{
    width:80%;
    height:60%;
   
   

}
.container2{
    width:200px;
    height:120px;
    border:2px,solid black;
    border-radius:5px;
    padding:100px;
    padding-top:5px;
    margin:100px;
    margin-top: 80px;
    margin-left: 100px;
    background-color: aquamarine;
}
button{
    background-color: blue;
    border-radius: 8px;
    color:white;
    margin-top:8px;
}