.container1{
    width:80%;
    height:60%;
   
   

}
.container2{
    width:270px;
    height:270px;
    border:2px,solid black;
    border-radius:5px;
    padding:250px;
    padding-top:3px;
    
    margin-left: 200px;
    background-color: aquamarine;
}
button{
    background-color: blue;
    border-radius: 8px;
    color:white;
    margin-top:8px;
}
input{
    width:250px;
    height:20px;
    margin-bottom:15px;
}
button{
    width:250px;
    height:20px;
    
}